body {
    margin: 0;
}

.header {
    border-bottom: 1px solid black;
    display: flex;
    padding: 10px;
}

.search-input {
    border-width: 0;
    font-size: 12pt;
    width: 500px;
}

.search-container {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 6px;
}

.search-button {
    border: 0;
    background-color: white;
}

.search-button:hover {
    background-color: blue;
}